# Kotlin
*.jar
*.class

# Rust
rust/target/

# OCaml
*.cmi
*.cmx
*.cmo
*.o
ocaml/humanlang

# Zig
zig/.zig-cache/
zig/zig-out/

# Haskell
*.hi
haskell/humanlang

# Assembly
asm/humanlang
asm/humanlang.dSYM/
